In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
df = pd.read_csv('historical_automobile_sales_modified.csv')
df

,Date,Year,Month,Recession,Consumer_Confidence,Seasonality_Weight,Price,Advertising_Expenditure,Competition,GDP,Growth_Rate,unemployment_rate,Automobile_Sales,Vehicle_Type,City
0,1/31/1980,1980,Jan,1,108.240000,0.500000,27483.571000,1558,7,60.223000,0.010000,5.400000,456.000000,Supperminicar,Georgia
1,2/29/1980,1980,Feb,1,98.750000,0.750000,24308.678000,3048,4,45.986000,-0.309594,4.800000,555.900000,Supperminicar,New York
2,3/31/1980,1980,Mar,1,107.480000,0.200000,28238.443000,3137,3,35.141000,-0.308614,3.400000,620.000000,Mediumfamilycar,New York
3,4/30/1980,1980,Apr,1,115.010000,1.000000,32615.149000,1653,7,45.673000,0.230596,4.200000,702.800000,Supperminicar,Illinois
4,5/31/1980,1980,May,1,98.720000,0.200000,23829.233000,1319,4,52.997000,0.138197,5.300000,770.400000,Smallfamiliycar,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10533,06/27/1989,1984,Aug,0,119.516531,0.714644,27935.096199,3251,2,49.110673,0.069592,6.479025,799.934369,Supperminicar,Georgia
10534,09/22/1988,1982,Nov,0,NaN,0.864920,31002.615460,1974,1,51.257277,0.017014,6.427265,594.781954,Executivecar,Illinois
10535,01/08/2002,2006,Jul,1,89.420249,0.294151,22136.333226,1622,9,83.170029,0.059795,4.931771,505.997490,Smallfamiliycar,Georgia
10536,07/19/2018,2010,Sep,0,107.436484,0.778444,27534.541001,2922,5,42.214134,0.079358,5.415422,676.181794,Executivecar,Illinois
10537,08/12/1991,2016,Sep,1,109.665827,0.893220,32907.575594,2091,8,63.498670,-0.049540,4.638808,613.648663,Supperminicar,California

In [25]:
df.isna().sum()

Date                         0
Year                         0
Month                        0
Recession                    0
Consumer_Confidence        505
Seasonality_Weight           0
Price                      500
Advertising_Expenditure      0
Competition                  0
GDP                          0
Growth_Rate                  0
unemployment_rate            0
Automobile_Sales           505
Vehicle_Type                 0
City                         0
dtype: int64